@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	
}
header{

background-image: url(../images/laptoop.png);

background-position: center;

background-repeat: no-repeat;

background-size: cover;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fffefe;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: 22px;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #fffefe;
}
.navbar-dark .navbar-nav .nav-link::before{
	content: "";
	width: 0%;
	height: 2px;
	background-color: #008ed6;
	position: absolute;
	bottom: 0;
	left: 0;
	transition-duration: 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover::before{
	width: 45%;
}
.navbar-dark .navbar-nav .nav-link::after{
	content: "";
	width: 0%;
	height: 2px;
	background-color: #008ed6;
	position: absolute;
	bottom: 0;
	right: 0;
	transition-duration: 0.3s;
}
.navbar-dark .navbar-nav .nav-link:hover::after{
	width: 45%;
}
.banner-content{
    color: #fff;
}
.banner-content h1{
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0px;
}
.banner-content p{
	margin-bottom: 80px;
}
h3{
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 600;
}
p{color: #999999;font-size: 18px;
	margin-bottom: 80px;
}

h1{
}
.btn-custom{
    background-color: #008ed6;
    color: #fff;
    font-size: 18px;
    padding: 10px 18px;
    text-transform: uppercase;
    transition-duration: 0.3s;

}
.btn-custom:hover{
    background-color: #008ed600;
    color: #fff;
    border: 1px solid #999999;
}
.btn-outline-custom{
	background-color: #008ed600;
    color: #fff;
    font-size: 18px;
    padding: 10px 18px;
    text-transform: uppercase;
    border: 1px solid #999999;
} 
.btn-outline-custom:hover{
	background-color: #008ed6;
    color: #fff;
    border: 1px solid #99999900;
}
header .row{

padding-top: 100px;

align-items: center;
}


.features-section{
    padding: 60px 0;
}
.heading{
    text-align: center;
    margin-bottom: 70px;
}
.heading h3{}
.heading h1{
    margin-bottom: 20px;
}
.heading span{
    width: 42px;
    height: 2px;
    display: block;
    margin: auto;
    position: relative;
}
.heading span::after{
	content: "";
	content: "";
	position: absolute;
	width: 45%;
	background-color: #008ed6;
	height: 100%;
	right: 0;
	top: 0;
}
.heading span::before{
	content: "";
	position: absolute;
	width: 45%;
	background-color: #008ed6;
	height: 100%;
	left: 0;
	top: 0;
}

.feature{
    text-align: center;
}
.feature span{
    font-size: 30px;
    width: 90px;
    height: 90px;
    display: block;
    border: 1px solid #9999995c;
    margin: auto;
    line-height: 90px;
    border-radius: 50%;
    color: #008ed6;
}
.feature span i{}
.feature h2{
    margin: 30px 0 10px;
    color: #1a1a1a;
    font-size: 24px;
}
h2{}
.feature p{}

.about-section{}
.about-section .heading{
    text-align: left;
    margin-bottom: 30px;
}
.about-section .heading h1{}
.about-section .heading span{
    margin-left: initial;
}
.about-section ul{
    align-items: center;
}
.about-section ul li{
    margin-right: 10px;
}
.about-section ul li i{
    font-size: 20px;
    color: #008ed6;
}
.about-section ul li span{
    font-size: 18px;
    color: #1a1a1a;
    font-weight: 600;
}
.details-section{
	background-color: #f2f2f2;
	padding: 70px 0;
}
.details-section .heading{
	text-align: left;
}
.details-section .heading span{
	margin-left: 0;
}

.pricing-plans-section{
	background-image: url(../images/meeting.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	padding: 60px 0;
}
.pricing-plans-section .heading h1{
	color: #fff;
}
.carousel-item{
	padding-bottom: 150px;
}
.carousel-item .col-lg{
    padding-left: 30px;
    padding-right: 30px;
}
.carousel-item h5{
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 30px;
}
.carousel-item .nav{}
.carousel-item .nav li{
    margin-right: 20px;
}
.carousel-item .nav li img{}
.carousel-item .nav li span{
    display: block;
    color: #fff;
    font-size: 16px;
}
.carousel-item .nav li strong{
    display: block;
    color: #fff;
    font-size: 14px;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #ffffff00;
    background-clip: padding-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    opacity: .5;
    border-radius: 50%;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #fff;
    transform: scale(1.2);
}
.download-section{
	background-color: #000;
	padding: 40px 0;
}
.download-section h3{
	font-size: 30px;
	text-transform: initial;
	color: #fff;
}
.download-section h3 span{
	font-weight: 200;
}
.pricing-section{
    padding-bottom: 60px;
}
.PricingTable{
    text-align: center;
    border: 1px solid #e0e0e0;
}
.PricingTable li{
    padding: 30px 15px;
    border-bottom: 1px solid #e0e0e0;
    transition-duration: .3s;
}
.PricingTable li h4{
    font-size: 24px;
    color: #1a1a1a;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.PricingTable:hover li h4{
	color: #008ed6;
	transition-duration: .3s;
}
.PricingTable li h1{
    margin-bottom: 0;
    font-size: 60px;
    transition-duration: .3s;
}
.PricingTable:hover .price{
    background-color: #008ed6;
    transition-duration: .3s;
}
.PricingTable:hover h1, .PricingTable:hover span{
   color: #fff;
}
.PricingTable li h1 sup{
    font-size: 35px;
    top: -.8em;
}
.PricingTable li span{
    font-size: 18px;
    color: #999999;
    transition-duration: .3s;
}
.PricingTable li p{
	margin-bottom: 30px;
}
.PricingTable li p a{
	color: #008ed6;
}
.ordernow{
    border: 1px solid #e0e0e0;
    color: #008ed6;
    font-size: 15px;
    padding: 10px 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition-duration: .3s;
}


.PricingTable:hover .ordernow{
	background-color: #008ed6;
	color: #fff;
}

.contact-section{
    padding: 60px 0 0;
    background-color: #ededed;
}
.info{
    text-align: center;
}
.info i{
    font-size: 30px;
    color: #008ed6;
}
.info p{
    font-size: 16px;
    margin-top: 20px;
}

.form{
    background: #15141a;
    padding: 60px;
    transform: translateY(60px);
}
.form form{}
.form .form-group{
	margin-bottom: 24px;
}
.form .form-group .form-control{
    background-color: transparent;
    border: 1px solid #ffffff42;
    padding: 23px 20px;
}

footer{
    text-align: center;
    background-color: #15141a;
    padding: 28px;
}
footer ul{}
footer ul li{}
footer ul li a{
    color: #444348;
    display: block;
    padding: 15px;
    font-size: 20px;
}
footer ul li a:hover{
    color: #008ed6;
    text-decoration: none;
}
footer p{
    color: #444348;
    font-size: 20px;
}





